@font-face {
  font-family: 'myfont';
  src:  url('./iconfont.eot?xgln0x');
  src:  url('./iconfont.eot?xgln0x#iefix') format('embedded-opentype'),
    url('./iconfont.ttf?xgln0x') format('truetype'),
    url('./iconfont.woff?xgln0x') format('woff'),
    url('./iconfont.svg?xgln0x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'myfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\78";
}
.icon-tuichu:before {
  content: "\e62f";
}
.icon-iconfontshuaxin:before {
  content: "\e61e";
}
.icon-flight:before {
  content: "\e6d9";
}
.icon-iconjiangxuwuguolv:before {
  content: "\e609";
}
.icon-iconshengxuwuguolv:before {
  content: "\e60a";
}
.icon-qiehuan:before {
  content: "\e611";
}
.icon-close:before {
  content: "\e63c";
}
.icon-down:before {
  content: "\e642";
}
.icon-zhexiantu-copy:before {
  content: "\e602";
}
.icon-webtubiaoku12:before {
  content: "\e647";
}
.icon-add:before {
  content: "\e629";
}
.icon-xiasanjiao:before {
  content: "\e60e";
}
.icon-zhexiantu:before {
  content: "\e612";
}
.icon-daohang:before {
  content: "\e618";
}
.icon-zichan2:before {
  content: "\e607";
}
.icon-xuandingzhuangtai:before {
  content: "\e63e";
}
.icon-xiajiantou:before {
  content: "\e66d";
}
.icon-pipeizhuangtai-shangchuancuowu:before {
  content: "\e60b";
}
.icon-fuzhi:before {
  content: "\e6fa";
}
.icon--:before {
  content: "\e63f";
}
.icon--1:before {
  content: "\e640";
}
.icon-b-1:before {
  content: "\e641";
}
.icon-diannao:before {
  content: "\e621";
}
.icon-erweima:before {
  content: "\e9c4";
}
.icon-sanjiaoxing:before {
  content: "\e615";
}
.icon-cebianlanicon:before {
  content: "\e616";
}
.icon-shangzhang:before {
  content: "\e617";
}
.icon-shendu:before {
  content: "\e619";
}
.icon-xiadie:before {
  content: "\e61a";
}
.icon-kxian:before {
  content: "\e61b";
}
.icon-die:before {
  content: "\e61c";
}
.icon-zhang:before {
  content: "\e61d";
}
